@font-face {
    font-family: "Poppins";
    src: url(Poppins-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    background-image: linear-gradient(135deg, #5b86ff, #bfff6c);
}

.clock{
    width: 31.25em;
    height: 8em;
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

.clock div{
    position: relative;
    background-color: #ffffff;
    height: 100%;
    width: 3.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    color: #06003b;
    border-radius: 0.4em;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.3);
    letter-spacing: 0.05;
}

.clock span{
    font-family: 800;
    font-size: 2.5em;
    color: #000000;
}